<a href="https://colab.research.google.com/github/Glutt0n/project-2/blob/main/Project_2_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/adult.csv')
df2 = pd.read_csv('/content/healthcare-dataset-stroke-data.csv')
display(df.head())
df2.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [ ]:
# First choice: Adult income dataset
# 1. Source of data
# http://www.cs.toronto.edu/~delve/data/adult/desc.html 
# 2. Brief description of data
# An individual’s annual income results from various factors. Intuitively, it is influenced by the individual’s education level, age, gender, occupation, and etc.
# 3. What is the target?
# ‘Income’
# 4. What does one row represent? (A person?  A business?  An event? A product?)
# One person. 
# 5. Is this a classification or regression problem?
# Classification.
# 6. How many features does the data have?
# 14 
# 7. How many rows are in the dataset?
# 48842
# 8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?
# I see none so far.

In [ ]:
# Second choice: dataset 2
# 1. Source of data
# https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset 
# 2. Brief description of data
# This dataset is used to predict whether a patient is likely to get stroke based on the input parameters like gender, age, various diseases, and smoking status. Each row in the data provides relevant information about the patient.
# 3. What is the target?
# ‘stroke’
# 4. What does one row represent? (A person?  A business?  An event? A product?)
# One patient
# 5. Is this a classification or regression problem?
# classification
# 6. How many features does the data have?
# 11
# 7. How many rows are in the dataset?
# 5110
# 8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?
# None that I see.